#-----------------------------------------------------------------------------------#
#	*START* Files / Directories
#-----------------------------------------------------------------------------------#

# Create a new directory and enter it
mdcd () {
    mkdir -p "$*"
    cd "$*"
}

# Remove a direcory and its files
function rd() {
	rm -rf "$@"
}

# Find shorthand
function f() {
    find . -name "$1"
}

#-----------------------------------------------------------------------------------#
#	*END* Files / Directories
#-----------------------------------------------------------------------------------#


#-----------------------------------------------------------------------------------#
#	*START* Server
#-----------------------------------------------------------------------------------#


# Get server info
server_info(){
	arch=$(uname -m)
	kernel=$(uname -r)
	if [ -f /etc/lsb-release ]; then
	        os=$(lsb_release -s -d)
	elif [ -f /etc/debian_version ]; then
	        os="Debian $(cat /etc/debian_version)"
	elif [ -f /etc/redhat-release ]; then
	        os=`cat /etc/redhat-release`
	else
	        os="$(uname -s) $(uname -r)"
	fi
}

#-----------------------------------------------------------------------------------#
#	*END* Server
#-----------------------------------------------------------------------------------#

